APP_BASE_URL=
ANDROID_SOCKET_API_BASE_URL=
ANDROID_API_BASE_URL=
IOS_SOCKET_API_BASE_URL=
IOS_API_BASE_URL=
ETERNAL_ROOM_ID=
CHAT_EXPIRATION_TIME=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=